html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  font-family: "Long Cang", cursive;
  font-family: "Arimo", sans-serif;
  font-family: "PT Sans", sans-serif;
  font-family: "PT Serif", serif;
  font-family: "Raleway", sans-serif;
}
.navbartop {
  display: flex;
  justify-content: center;
  background: #020024;
  background: linear-gradient(
    90deg,
    rgb(12, 12, 12) 0%,
    rgb(19, 19, 19) 35%,
    rgb(11, 12, 11) 100%
  );
  box-shadow: 10px 5px 5px grey;
  justify-content: center;
  position: fixed;
  width: 100%;
}
.navbar {
  margin: 1em 1em;
  border: 1px solid;
  padding: 10px 20px;
  text-align: center;
  border-radius: 10px;
  color: #060708;
  box-shadow: 5px 5px 8 px grey;
  background-color: white;
}
.header {
  margin: auto;
  box-shadow: 8px 8px 5px grey;
}
.bannerimg {
  display: flex;
  width: 100%;
  height: 60%;
  justify-content: center;
  text-align: center;
  color: white;
}
.navbar:hover {
  color: white;
  background-color: #0d0e0e;
}

.section {
  display: flex;
  width: 90%;
  margin: 10% auto;
  font-size: 20px;
  /* border: 2px solid black; */
  /* margin-top: 20%; */
}
.section:nth-of-type(1) {
  margin-top: 20%;
} /* this put the margin top only on the first element so it makes white space before getting into main content */

#lets {
  font-size: 4em;
  position: absolute;
  text-align: center;
  top: 25%;
  left: 15%;
  color: white;
}
#code {
  font-size: 4em;
  position: absolute;
  text-align: center;
  top: 30%;
  left: 20%;
  color: white;
}

#together {
  font-size: 4em;
  position: absolute;
  text-align: center;
  top: 35%;
  left: 26%;
  color: white;
}

#whitespace {
  margin: auto auto 30px auto;
}
.section h2 {
  font-size: 50px;
}

.content {
  width: 100%;
  margin-top: 20px;
  border-right: 5px solid black;
}

a {
  text-decoration: none;
}

a.contactlinks {
  display: flex;
  justify-content: space between;
  flex: 10%;
  text-align: center;
  text-decoration: none;
  color: black;
  margin: 1em auto;
}
a.contactlinks:hover {
  background-color: #2b4878;
  color: white;
}
#email {
  display: flex;
  justify-content: flex-start;
  border: 2px solid black;
}

.img {
  width: 50%;
  height: auto;
  border-radius: 20px;
  box-shadow: 8px 8px 5px grey;
  /* display: flex;
  justify-content: center; */
  margin-left: 25%;
  margin-right: 0px;
}

.description {
  margin-left: 3%;
  flex: 0 0 60%;
}

@media screen and (max-width: 922px) {
  main,
  nav,
  .section {
    flex-direction: row;
  }
  .headertext {
    padding-top: 20%;
  }
}
@media screen and (max-width: 768px) {
  main,
  nav,
  .section {
    flex-direction: row;
  }
  .headertext {
    padding-top: 50%;
  }
}

@media screen and (max-width: 620px) {
  main,
  nav,
  .section {
    flex-direction: column;
  }
  .headertext {
    padding-top: 80%;
  }
  .content {
    /* border-bottom: 5px solid black; */
    margin-bottom: 5px;
    border-right: none;
  }
  .img {
    margin: 2em 1em;
  }
  .description {
    /* border-bottom: 5px solid black; */
    margin-bottom: 10px 10px;
  }
  .section {
    border-top: 5px solid black;
  }
  .section:first-of-type {
    border-top: none;
  }
  a.navbar {
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    width: 50%;
    text-align: center;
  }
  .navbartop {
    display: flex;
    justify-content: center;
    text-align: center;
  }
}
